//- 页面头部
mixin footer(className)
  .mixin-footer.footer(class=className)
    p
      | Copyright© 2015-2016 行之足
      | Designed by
      a.site-link(href=portalUrl) yangrunwei
    p
      a(href="http://www.miibeian.gov.cn/", target="_blank") 粤ICP备15106353号