//- 公共模块

//- 文章列表
include ../mixin/mixin-articles-list
//- 页面头部
include ../mixin/mixin-top-bar
//- 页面尾部
include ../mixin/mixin-footer
//- 同步分页
include ../mixin/mixin-sync-paging
//- 异步分页
include ../mixin/mixin-async-paging
//- 加载中
include ../mixin/mixin-loading
//- banner
include ../mixin/mixin-banner