doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", href=staticDomain+"/css/index.css")
  body
    //- menu
    .ui.pointing.menu
      a.item.active
        | 首页
      a.item
        | 技术
      a.item
        | 生活杂记
      .right.menu
        .item
          .ui.transparent.icon.input
            input(type="text", placeholder="Search...")
            i.search.link.icon

    .ui.teal.buttons
      .ui.button Toggle
      .ui.floating.dropdown.icon.button
        i.dropdown.icon
        .menu
          .item(data-value="drop") Drop
          .item(data-value="horizontal flip") Horizontal Flip
          .item(data-value="fade up") Fade Up
          .item(data-value="scale") Scale
    .ui.dropdown.button
      span.text Choose Category
      i.dropdown.icon
      .menu
        .item
          span.text Category 1
        .item
          i.dropdown.icon
          span.text Category 2
          .menu
            .item Item 2A
            .item Item 2B
            .item Item 2C
        .item
          i.dropdown.icon
          span.text Category 3
          .menu
            .item Item 3A
            .item Item 3B
            .item Item 3C
    .ui.form.segment
      .two.fields
        .field
          label First Name
          input(type="text", placeholder="First Name")
        .field
          label Last Name
          input(type="text", placeholder="Last Name")
      .field
        label Gender
        .ui.dropdown.selection
          input(type="hidden", name="gender")
          .default.text Select Gender
          i.dropdown.icon
          .menu
            .item(data-value="male") Male
            .item(data-value="female") Female
    script(src=staticDomain+"/js/index.js")
                                       