extends ../common/layout
block title
  title test | 行之足
block head
  meta(name="keywords", content="杨润炜的个人博客, 行之足")
  meta(name="description", content="关注技术，积累点滴；品尝生活，享受乐趣")
block body
  img(src="https://yrw-blog.oss-cn-shenzhen.aliyuncs.com/article-img/20151218/12-1.png")